server:
  port: 8888
  error:
    include-message: always
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/learning
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:

        format_sql: true
  ai:
    ollama:

      base-url: http://localhost:11434

      chat:
        model: "deepseek-r1:1.5b"
        options:
          temperature: 0.7 # Độ "sáng tạo" của câu trả lời
      embedding:

        model: "nomic-embed-text"

    vectorstore:
      chroma:
        client:
          host: http://localhost
          port: 8000
        collection:
          name: "ai_tutor_collection"
        initializeSchema: true

application:
  storage:
    local-path: "./ai_tutor_documents"

